{
    "users": [
        {
            "username": "",
            "password": "",
            "serverchan": [ "" , "" ]
        },
        {
            "username": "",
            "password": "",
            "serverchan": [ "" , "" ]
        }
    ],
    "port": ""
}